@model ReRe.Data.Models.CommentaireModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentaireModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserModel.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RessourceModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RessourceModel.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentaireParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentaireParent.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
